<%= form_for @user do |f| %>
  <div>
    <label>Username</label>
    <%= f.text_field :username %>
  </div>
  <div>
    <label>E-mail address</label>
    <%= f.email_field :email %>
  </div>
  <div>
    <label>Password</label>
    <%= f.password_field :password_digest %>
  </div>
  <%= f.submit "Create Account" %>
<% end %>
