<div class="container">
  <h2 class="center">Create an Account</h2>
  <%= form_for @user do |f| %>
    <div>
      <label>Username</label>
      <%= f.text_field :username %>
    </div>
    <div>
      <label>E-mail address</label>
      <%= f.email_field :email %>
    </div>
    <div>
      <label>Password</label>
      <%= f.password_field :password, minlength: 8 %>
    </div>
    <div>
      <a class="btn-large">
        <%= f.submit "Create Account" %>
      </a>
    </div>
  <% end %>
</div>
