<nav class="transparent z-depth-1">
  <div class="nav-wrapper container">

    <!-- Mobile Sidebar Menu -->
    <ul id="slide-out" class="side-nav">
      <li><div class="user-view">
        <h5 class="center grey-text text-darken-4">PONDER</h5>
        <% user = current_user %>
        <% if user %>
          <li><%= link_to "Welcome, #{user.username}!", user_path(user.username), class: "grey-text text-darken-4" %></li>
          <li><%= link_to "Log Out", logout_path, class: "grey-text text-darken-4" %></li>
        <% else %>
          <li><%= link_to 'Create an Account', new_user_path, class: "grey-text text-darken-4" %></li>
          <li><%= link_to 'Log In', login_path, class: "grey-text text-darken-4" %></li>
        <% end %>
      </li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons mobile-menu">menu</i></a>

    <!-- Ponder Logo -->
    <a class="brand-logo grey-text text-darken-4">PONDER</a>

    <!-- Desktop Navigation -->
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% user = current_user %>
      <% if user %>
        <li><%= link_to "Welcome, #{user.username}!", user_path(user.username), class: "grey-text text-darken-4" %></li>
        <li><%= link_to "Log Out", logout_path, class: "grey-text text-darken-4" %></li>
      <% else %>
        <li><%= link_to 'Create an Account', new_user_path, class: "grey-text text-darken-4" %></li>
        <li><%= link_to 'Log In', login_path, class: "grey-text text-darken-4" %></li>
      <% end %>
    </ul>

  </div>
</nav>
