<%= form_for @post do |f| %>
  <div>
    <label>Title</label>
    <%= f.text_field :title, placeholder: "Enter your title here...", required: "true", minlength: 1, class: "form-title" %>
  </div>

  <div>
    <label>Content</label>
    <%= f.text_area :content,
      oninput: "document.getElementById('charCounter').innerHTML=this.value.length",
      maxlength: 1000,
      class: "materialize-textarea form-content text-box",
      placeholder: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
    %>
  </div>

  <div>
    <span id="charCounter"><%= !@post.content ? "0" : @post.content.length %></span>/1000
  </div>

  <div style="margin-top:20px;">
    <% label = @post.content ? "Save" : "Submit" %>
    <%= f.submit label, class: "btn" %>
  </div>
<% end %>
