<div class="col l4 user-profile hide-on-med-and-down">
  <div>
    <%= image_tag "https://avatars1.githubusercontent.com/u/27825269?v=4&s=460", class: "responsive-img profile-img" %>
  </div>

  <div class="col profile-info">
    <h3 class="fullname"><%= "#{@user.first_name} #{@user.last_name}" %></h3>

    <h4 class="username grey-text text-darken-1"><%= @user.username %></h4>

    <div class="bio grey-text text-darken-1">
      <p><i><%= @user.bio %></i></p>
    </div>

    <div>
      <a class="btn" href=<%= edit_user_path %>>Edit Profile</a>
    </div>
  </div>
</div>
